<h1>There are <span><%= @contacts.count %></span> contacts</h1>
<ul>
  <%@contacts.each do |contact|%>
  <li>
    <h2><%= contact.first_name %> <%= contact.last_name %> (<%= contact.email %>)</h2>
    <p><a href="/contact/<%= contact.id %>">View</a> | <a href="/contact/<%= contact.id %>/edit">Edit</a> | <a href="/contact/<%= contact.id %>/delete">Delete</a></p>
    </li>
  <%end%>
</ul>
